#about {
  color: $color-maroon;

  a {
    background-color: $color-maroon;
    color: #f5d0c5;
    padding: 10px;
    border-radius: 5px;
    font-weight: 800;
    text-decoration: none;
    font-size: 12px;
  }
}
