#skills p {
  color: $color-maroon;
}

.skill-set {
  display: flex;
  justify-content: center;
  margin: auto;
}

.skill-header {
  color: $color-maroon;
}

.skill-each {
  color: $color-maroon;
  font-weight: 900;
}
