body {
    font-family: 'Roboto', sans-serif;
    color: #f5d0c5;
}
.navbar-custom {
  background-color: #f5d0c5;
}

.navbar-brand {
  font-family: 'Redressed', cursive;
  color: #3c0000;
  font-size: 20px;
  font-weight: 800;
}

.navbar-brand:hover {
  color: #774936;
}

.nav-link {
  color: #3c0000;
  font-weight: 800;
}

.nav-link:hover {
  color: #774936;
}

hr {
  border-radius: 5px;
  width: 10%;  
  border: 2px solid #f5d0c5;
}

h4 {
  font-size: 30px;
  font-weight: 900;
}

#home {
    background-color: #3c0000;
    height: 550px;
    padding-top: 150px;
} 
#home a{
  color: #f5d0c5;
  font-size: 24px;
}

.text-home {
   padding-left: 50px;
   border-left: 6px solid #f5d0c5; 
   height: 150px; 
   position:absolute; 
   left: 10%; 
   display: flex;
}
.text-home h1{
  font-size: 3rem;
  font-weight: 700;
}

.text-home h3{
    font-size: 2rem;
    font-weight: 600;
  }

#about {
  color: #3c0000;
}

.about-text a {
   background-color: #3c0000;
   color: #f5d0c5;
   padding: 10px;
   border-radius: 5px;
   font-weight: 800;
   text-decoration: none;
}

#skills {
    margin-top: 1rem;
}

#skills p {
  color: #774936;
}

.skill-set {
    display: flex;
    justify-content: center;
    margin: auto;
}

.skill-header {
    color: #774936;
}

.skill-each {
    color: #774936;
}
#projects{
    color: #774936;
    font-size: 13px;
    font-weight: 500;
}

.all-projects {
  margin-left: 200px;
}

#projects hr {
    border: 2px solid #f5d0c5;
    border-radius: 20px;
    width: 10%;  
  }

.display-project a{
    background-color: #3c0000;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    text-decoration: none;   
}

#contact {
  background-color: #f5d0c5;
  height: 400px;
  color: #3c0000;
}

#contact hr {
  border: 2px solid #3c0000;
  border-radius: 5px;
  width: 10%;  
}

/* #contacts .social-icons {
 
} */

.social-icons i {
  font-size: 28px;
  margin-left: 10px;
  color: #3c0000;
}

.display-project img{
  width: 300px;
  height: 200px;
}

/**Medium screen size **/
@media screen and (max-width: 1024px) {
.skill-set {
  display: flex;
  justify-content: center;
}
}
 @media screen and (max-width: 768px) {
   .display-project {
     display: flex;
     flex-direction: column;
   }
   .display-project img {
      padding-bottom: 20px;;
      display: flex;
      justify-content: center;
      margin: auto;
   }
   .text-home {
    padding-left: 50px;
    border-left: 6px solid #f5d0c5; 
    height: 100px; 
   }
  #home {
    height: 400px;
  }

  .text-home h1 {
    font-size: 1.5rem;
  }
  .text-home h3 {
    font-size: 1rem;
  }
} 